<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.667754725634-9tck0kii14dm6d1e0u05preefmfppp5b</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>667754725634-9tck0kii14dm6d1e0u05preefmfppp5b.apps.googleusercontent.com</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>TrebleSurf uses your location to show nearby surf spots and provide accurate forecasts for your area.</string>
	<key>NSCameraUsageDescription</key>
	<string>TrebleSurf needs camera access to let you take photos of current surf conditions for reports.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>TrebleSurf needs photo library access to let you select photos and videos to include in surf reports.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>TrebleSurf needs permission to save photos to your library.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
